.specialp {
    color: #0000FF
}
#Classes {
    background-color:mediumvioletred
}
.SpanStyle {
    color:red
}
a {
    text-decoration: none;
}
a:link {
    color:red
}
a:hover {
    color:yellow
}
a:visted {
    color:green
}
p {
color:blueviolet
}
p {
    background-color:lightblue
}
h1 {
    color:aquamarine
}
h1 {
    background-color: black;
}
h2 {
    color:greenyellow
}
h2 {
    background-color:brown
}
h3 {
    color:grey
}
h3 {
    background-color:honeydew
}
h4 {
    color:lightseagreen
}
h4 {
    background-color:midnightblue
}
h5 {
    color:palevioletred
}
h5 {
    background-color:violet
}h6 {
    color:wheat
}
h6 {
    background-color:maroon
}