body {
    background-color: rgb(53, 53, 53);
    font-family: "Cactus Classical Serif", serif;
    font-size: 15px;
}
#wrapper {
    margin: 1em auto;
    width: 960px;
    border: solid 4px rgb(102, 101, 101);
    background-color: #cdcccc;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 12px;
}

header {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;      
    grid-column: span 12;
    background-color: rgb(40, 40, 40);
    width: 922px;
    color: white;
    border-top: solid 2px rgb(102, 101, 101);
    border-left: solid 2px rgb(102, 101, 101);
    border-right: solid 2px rgb(102, 101, 101);
    padding-left: 12px;
    margin-left: 11px;
    margin-top: 12px;
}
h2 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}
nav {
    grid-column:  span 12;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}
nav ul {
    margin-left: -29px;
    display: flex;
}
nav li {
    display: inline-block;
    list-style: none;
}
nav a {
    transition: background-color 1.0s, width 2.0s, color 2.0s;
}

nav li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    width: 220px;
    margin-top: -16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    background-color: rgb(40, 40, 40);
    color: white;
}
nav li a:hover {
    background-color: rgb(20,20,20);
}
nav li a:active {
    background-color: black;
}
#one, #two, #three, #four {
    border-top: solid 2px rgb(102, 101, 101);
    border-bottom: solid 2px rgb(102, 101, 101);
    border-left: solid 2px rgb(102, 101, 101);
}

#four {
    border-right: solid 2px rgb(102, 101, 101);
}
main {
    grid-column: span 12;
    margin-right: 12px;
    margin-left: 12px;
}

footer {
    grid-column: span 12;
    background-color: rgb(40, 40, 40);
    color: white;
    border-top: solid 4px rgb(102, 101, 101);
    padding-left: 12px;
    margin-top: 12px;
}
footer a {
    color:white;
    text-decoration: none;
    transition: 1.0s, width 1.0s, color 1.0s;
}
footer a:hover{
    color: rgb(167, 167, 167)
}