
#about {
    border-bottom: solid 3px rgb(40, 40, 40);
    margin-left: 230px;
    color: rgb(40, 40, 40);
}
main {
    margin-top: -18px;
}
aside {
    grid-column: span 12;
    margin-left: 20px;
}
#home {
    float: left;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-top: -51px;
    padding: 5px;
    width: 200px;
}
#me {
    text-align: justify;
    color: white;
    background: rgb(40, 40, 40);
    border: solid 4px rgb(102, 101, 101);
    margin-left: 230px;
    padding: 12px;
}
#side { 
float: left;
margin-right: 12px;
margin-left: 12px;
padding: 6px;
width:150px;
}