.container {
    display: flex;
    margin-top: 8px;
}
.title {
margin-left: 12px;
margin-top: -15px;
}
h2 {
    border-bottom: solid 3px rgb(40,40,40);
    width: 480px;
}
.project {
    width:200px;
    margin-left: 17px;
}
.text {
    margin-right: 12px;
    margin-left: -480px;
    margin-top: 60px;
    width: 450px;
    height: 125px;
    padding: 12px;
    text-align: justify;
    color: white;
    background: rgb(40, 40, 40);
    border: solid 4px rgb(102, 101, 101);
}
