form {
    border: solid 3px rgb(102, 101, 101);
    border-radius: 10px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    background-color: rgb(40, 40, 40);
    color: white;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 12px;
}
#resume {
    border: solid 3px rgb(102, 101, 101);
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px;
    text-align: center;
}
#resume a {
    text-decoration: none;
    color: white;
}
#resume a:hover {
    color:rgb(199, 199, 199);
    transition: 1.0s, width 1.0s, color 1.0s;
}