.container {
    display: flex;
    margin-top: 8px;
}
.title {
margin-left: 12px;
margin-top: -16px;
}
h2 {
    border-bottom: solid 3px rgb(40,40,40);
    width: 325px;
}
#bug {
    width: 385px;
    height: auto;
    margin-top: 30px;
    border: solid 3px rgb(40,40,40);
}
.DnD {
    width:auto;
    height: 120px;
    margin-top: 80px;
    border: solid 3px rgb(40,40,40);
}
.text {
    margin-right: 12px;
    margin-left: -325px;
    margin-top: 60px;
    padding-left: 12px;
    padding-right: 12px;
    width: 300px;
    color: white;
    background: rgb(40, 40, 40);
    border: solid 4px rgb(102, 101, 101);
    border-radius: 10px;
}
.contributions {
    margin-top: 60px;
}