.container {
    display: flex;
    margin-top: 8px;
}
.title {
margin-left: 12px;
margin-top: -16px;
}
h2 {
    border-bottom: solid 3px rgb(40,40,40);
    width: 390px;
}
#bug {
    width: 385px;
    height: auto;
    margin-top: 30px;
}
#contributions-bug {
    margin-top: 40px;
}
.DnD {
    width:auto;
    height: 120px;
    margin-top: 80px;
}
.Moth {
    width: auto;
    height: 120px;
    margin-top: 80px;
}
.me {
    width:200px
}
.text {
    margin-right: 12px;
    margin-left: -390px;
    margin-top: 60px;
    width: 400px;
    height: 150px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    color: white;
    background: rgb(40, 40, 40);
    border: solid 4px rgb(102, 101, 101);
    border-radius: 10px;
}
.contributions {
    margin-top: 28px;
    margin-left: 24px;
    margin-right: 12px;
}
