body {
    background-image: url(a62.png)
}
#wrapper {
    margin: 1em auto;
    padding: 0;
    width: 960px;
    border: 3px solid black;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
header {
    grid-column: span 12;
  }
h1 {
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
    padding: 25px;
    margin: 10px;
    margin-bottom: 5px;
}
nav {
    grid-column: span 3;
  }
nav ul {
    list-style: none;
    display: inline-block;
    margin-left: -25px;
}
nav li{
    margin-bottom: 15px;
}
nav li a {
    color: white;
    text-decoration: none;
    padding: 20px;
    background-color: red;
    display: block;
    width: 175px;
    font-family: Helvetica, sans-serif;
}
nav li a:hover {
    background-color: darkred;
}
h2 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    width: 700px;
    border-bottom: solid 3px black;
}
#floater {
    float: left;
    border: 3px solid black;
    padding: 10px;
    margin-right: 10px;
}
main {
    grid-column: span 9;
  }
#first {
    font-family: Georgia, sans-serif;
    font-weight: bold;
    text-align: justify;
    margin: 10px
}
#second a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}
#second a:hover {
    color:blue;
    text-decoration: underline;
}
footer {
    grid-column: span 12;
    font-family: Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    border-top: 3px solid black;
    color: white;
    background-color: red;
    padding-right: 20px;
    padding-left: 20px;
  }